html, body{
	overflow: hidden;
}
html{
	background: url(../../imagenes/png/fondo.png);
	background-repeat: no-repeat;
	width: 1366px;
	height: 768px;
}
.oculta{
	display: none;
}
.bombillo{
	border: 0px solid;
	position: absolute;
	z-index:70;
	top:160px;
	left:1220px;"
	cursor: pointer;
}
.bombillo--msg{
	position:absolute;
	left: 350px;
	top: 300px;
	z-index: 200;
}

.computador--btn{
	position: absolute;
	z-index:70;
	width: 140px;
	height: 60px;
	top:650px;
	left:103px;
}
.computador--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.partes--btn{
	position: absolute;
	z-index:70;
	width: 140px; height: 60px;
	top:650px;
	left:250px;
}
.partes--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.partes--btn--teclado{
	position: absolute;
	top: 322px;
	left: 165px;
	z-index: 210;
}
.partes--msg--teclado{
	position:absolute;
	left: 270px;
	top: 300px;
	z-index: 200;
	cursor:pointer;
}
.partes--btn--monitor{
	position: absolute;
	top: 380px;
	left: 180px;
	z-index: 210;
	cursor:pointer;
}
.partes--msg--monitor{
	position: absolute;
	left: 270px;
	top: 320px;
	z-index: 200;
	cursor:pointer;
}
.partes--btn--raton{
	position: absolute;
	left: 175px;
	top: 435px;
	z-index: 210;
	cursor:pointer;
}
.partes--msg--raton{
	position: absolute;
	left: 270px;
	top: 420px;
	z-index: 200;
	cursor:pointer;
}
.partes--btn--caja{
	position: absolute;
	left: 180px;
	top: 490px;
	z-index: 210;
	cursor:pointer;
}
.partes--msg--caja{
	position: absolute;
	left: 240px;
	top: 370px;
	z-index: 200;
	cursor:pointer;
}
.uso--btn{
	position: absolute;
	z-index: 70;
	width: 140px;
	height: 60px;
	top: 650px;
	left: 397px;
}
.uso--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.aplicaciones--btn{
	position: absolute;
	z-index: 70;
	width: 140px;
	height: 60px;
	top:650px;
	left:545px;
}
.aplicaciones--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.internet--btn{
	position: absolute;
	z-index:70;
	width: 140px;
	height: 60px;
	top:650px;
	left:692px;
}
.internet--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}


.ei-slider{
	position: relative;
	width: 100%;
	width: 1366px;
	height: 768px;
	margin: 0px;
}

.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;

}
.ei-title{
	position: absolute;
	left: 850px;
	top: 10px;
}
.ei-title h2, .ei-title h3{
	text-align: right;
	right:600px;
}
.ei-title h2{
	font-size: 28px;
	line-height: 20px;
	font-family: 'DejaVu Sans', serif;
	font-style: italic;
	color: #b5b5b5;
	text-shadow:#666666 3px 3px 3px;
}
.ei-title h3{
	font-size: 30px;
	line-height: 20px;
	font-family: 'DejaVu Sans', serif;
	font-style: bold;
	color: #4d4d4d;
	text-shadow:#666666 3px 3px 3px;



}
.ei-slider-thumbs li{
	position: absolute;
	float: left;
	height: 50px;
	width: 50px;
	
}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 0%;
	z-index: 10;
	text-indent: -9000px;
	background: #000;
	background: rgba(0,0,0,0.9);
}
.ei-slider-thumbs li a{
	display: block;
	text-indent: -9000px;
	background:;
	width: 20px;
	height: 20px;
	cursor: pointer;
	
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: ;
}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media screen and (max-width: 830px) {
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 20px;
		line-height: 24px;
	}
	.ei-title h3{
		font-size: 30px;
		line-height: 40px;
	}
}
