html, body{
	overflow: hidden;
}
.inicio{
	background-image: url(../../imagenes/png/pantallazo.png);
	background-repeat: no-repeat;
}
.btn--inicio{
	position: absolute;
	top: 690px;
	left: 1150px;
	width: 133px;
	height: 75px;
}
.menu{
	background: url(../../imagenes/png/fondo.png);
	background-repeat: no-repeat;
	width: 1366px;
	height: 768px;
}
.oculta{
	display: none;
}
.bombillo{
	position: absolute;
	z-index:70;
	top:160px;
	left:1220px;"
	cursor: pointer;
}
.bombillo--msg{
	position:absolute;
	left: 350px;
	top: 300px;
	z-index: 200;
}

.computador--btn{
	position: absolute;
	z-index:70;
	width: 140px;
	height: 60px;
	top:650px;
	left:103px;
}
.computador--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.partes--btn{
	position: absolute;
	z-index:70;
	width: 140px; height: 60px;
	top:650px;
	left:250px;
}
.partes--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.partes--btn--teclado{
	position: absolute;
	top: 310px;
	left: 165px;
	z-index: 210;
}
.partes--msg--teclado{
	position:absolute;
	left: 270px;
	top: 300px;
	z-index: 290;
	cursor:pointer;
}
.partes--btn--monitor{
	position: absolute;
	top: 366px;
	left: 170px;
	z-index: 210;
	cursor:pointer;
}
.partes--msg--monitor{
	position: absolute;
	left: 270px;
	top: 320px;
	z-index: 290;
	cursor:pointer;
}
.partes--btn--raton{
	position: absolute;
	left: 165px;
	top: 423px;
	z-index: 210;
	cursor:pointer;
}
.partes--msg--raton{
	position: absolute;
	left: 270px;
	top: 420px;
	z-index: 290;
	cursor:pointer;
}
.partes--btn--caja{
	position: absolute;
	left: 167px;
	top: 478px;
	z-index: 210;
	cursor:pointer;
}
.partes--msg--caja{
	position: absolute;
	left: 240px;
	top: 370px;
	z-index: 290;
	cursor:pointer;
}
.uso--btn{
	position: absolute;
	z-index: 70;
	width: 140px;
	height: 60px;
	top: 650px;
	left: 397px;
}
.uso--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.aplicaciones--btn{
	position: absolute;
	z-index: 70;
	width: 140px;
	height: 60px;
	top:650px;
	left:545px;
}
.aplicaciones--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.internet--btn{
	position: absolute;
	z-index:70;
	width: 140px;
	height: 60px;
	top:650px;
	left:692px;
}
.internet--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.orientaciones--btn{
	position: absolute;
	z-index:70;
	width: 140px;
	height: 60px;
	top:650px;
	left:935px;
}
.orientaciones--msg{
	position: absolute;
	left: 146px;
	top: 100px;
	z-index: 210;
}

.orientaciones--btn1{
	position: absolute;
	top: 235px;
	left: 180px;
	z-index: 210;
	cursor:pointer;
}
.orientaciones--btn1--msg{
	position:absolute;
	left: 550px;
	top: 200px;
	z-index: 260;
}
.orientaciones--btn2{
	position: absolute;
	top: 293px;
	left: 180px;
	z-index: 210;
	cursor:pointer;
}
.orientaciones--btn2--msg{
	position: absolute;
	left: 550px;
	top: 200px;
	z-index: 290;
}
.orientaciones--btn3{
	position: absolute;
	top: 355px;
	left: 180px;
	z-index: 210;
	cursor:pointer;
}
.orientaciones--btn3--msg{
	position: absolute;
	left: 550px;
	top: 200px;
	z-index: 290;
}

.actividades--btn{
	position: absolute;
	z-index:70;
	width: 140px;
	height: 60px;
	top:650px;
	left:1100px;
}

