html, body{
	overflow: hidden;
} 
/* componente */
.oculta{
	display: none;
}

/* inicio */
.inicio{
	background-image: url(../../imagenes/png/pantallazo.png);
	background-repeat: no-repeat;
}

.inicio .btn--inicio{
	position: absolute;
	top: 690px;
	left: 1150px;
	width: 133px;
	height: 75px;
}
/* menu */
.menu{
	background: url(../../imagenes/png/fondo.png);
	background-repeat: no-repeat;
	width: 1366px;
	height: 768px;
}

.menu .bombillo{
	position: absolute;
	z-index:70;
	top:160px;
	left:1220px;"
	cursor: pointer;
}
.menu .bombillo--msg{
	position:absolute;
	left: 350px;
	top: 300px;
	z-index: 200;
}

.menu .computador--btn{
	position: absolute;
	z-index:70;
	width: 140px;
	height: 60px;
	top:650px;
	left:103px;
}
.menu .computador--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.menu .partes--btn{
	position: absolute;
	z-index:70;
	width: 140px; height: 60px;
	top:650px;
	left:250px;
}
.menu .partes--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.menu .partes--btn--teclado{
	position: absolute;
	top: 310px;
	left: 165px;
	z-index: 210;
}
.menu .partes--msg--teclado{
	position:absolute;
	left: 270px;
	top: 300px;
	z-index: 290;
	cursor:pointer;
}
.menu .partes--btn--monitor{
	position: absolute;
	top: 366px;
	left: 170px;
	z-index: 210;
	cursor:pointer;
}
.menu .partes--msg--monitor{
	position: absolute;
	left: 270px;
	top: 320px;
	z-index: 290;
	cursor:pointer;
}
.menu .partes--btn--raton{
	position: absolute;
	left: 165px;
	top: 423px;
	z-index: 210;
	cursor:pointer;
}
.menu .partes--msg--raton{
	position: absolute;
	left: 270px;
	top: 420px;
	z-index: 290;
	cursor:pointer;
}
.menu .partes--btn--caja{
	position: absolute;
	left: 167px;
	top: 478px;
	z-index: 210;
	cursor:pointer;
}
.menu .partes--msg--caja{
	position: absolute;
	left: 240px;
	top: 370px;
	z-index: 290;
	cursor:pointer;
}
.menu .uso--btn{
	position: absolute;
	z-index: 70;
	width: 140px;
	height: 60px;
	top: 650px;
	left: 397px;
}
.menu .uso--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.menu .aplicaciones--btn{
	position: absolute;
	z-index: 70;
	width: 140px;
	height: 60px;
	top:650px;
	left:545px;
}
.menu .aplicaciones--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.menu .internet--btn{
	position: absolute;
	z-index:70;
	width: 140px;
	height: 60px;
	top:650px;
	left:692px;
}
.menu .internet--msg{
	position: absolute;
	left: 146px;
	top: 150px;
	z-index: 210;
}
.menu .orientaciones--btn{
	position: absolute;
	z-index:70;
	width: 140px;
	height: 60px;
	top:650px;
	left:935px;
}
.menu .orientaciones--msg{
	position: absolute;
	left: 146px;
	top: 100px;
	z-index: 210;
}
.menu .orientaciones--btn1{
	position: absolute;
	top: 235px;
	left: 180px;
	z-index: 210;
	cursor:pointer;
}
.menu .orientaciones--btn1--msg{
	position:absolute;
	left: 550px;
	top: 200px;
	z-index: 260;
}
.menu .orientaciones--btn2{
	position: absolute;
	top: 293px;
	left: 180px;
	z-index: 210;
	cursor:pointer;
}
.menu .orientaciones--btn2--msg{
	position: absolute;
	left: 550px;
	top: 200px;
	z-index: 290;
}
.menu .orientaciones--btn3{
	position: absolute;
	top: 355px;
	left: 180px;
	z-index: 210;
	cursor:pointer;
}
.menu .orientaciones--btn3--msg{
	position: absolute;
	left: 550px;
	top: 200px;
	z-index: 290;
}
.menu .actividades--btn{
	position: absolute;
	z-index:70;
	width: 140px;
	height: 60px;
	top:650px;
	left:1100px;
}

/* actividades */
.actividades{
	overflow: hidden;
	background-image: url(../../imagenes/png/fondos.png);
	background-repeat: no-repeat;
}
.actividades .btn--actividades{
	position: absolute;
	left: 400px;
	top: 20px;
}
.actividades .btn--relaciona{
	position: absolute;
	left: 150px;
	top: 200px;
}
.actividades .btn--identifica{
	position: absolute;
	left: 620px;
	top: 200px;
}
.actividades .btn--menu{
	position: absolute;
	left: 430px;
	top: 522px;
}
.actividades .img-colBic{
	position: absolute;
	top: 350px;
	left: 220px;
	width: 600px;
}
/* Fin actividades */



